#about{
    height:100vh;
    display:flex;
    gap:50px;
    justify-content:space-around;
    align-items:center;
    padding:20px;
    background-color:gainsboro;
    color:black;
  }
  #detail{
    padding:5px;
    width:200px;
    text-align:center;
  }
  #detail p{
    text-align:justify;
    letter-spacing:1px;
    width:500px;
  }
  #detail button{
    border:none;
    height:50px;
    border-radius:20px;
    background-color:#ADADAD;
    color:black;
    font-weight:600;
    font-size:1em;
  }
  #pp{
    width:300px;
  }
  