.Home_section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

#welcome-section {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  gap: 5px;
  background-color: var(--primary-color);
  color: var(--third-color);
  padding: 20px;
}

#me_section p {
  width: 600px;
  font-size: 1.5em;
  font-family: var(--secondary-font);
}

#ani_text {
  font-family: var(--third-font);
  font-size: 4em;
  display: block;
}

#Profile {
  padding: 20px;
  background-color: var(--primary-color);
}

#ppic {
  height: 500px;
  border-radius: 40px;
  border: 1px solid var(--third-color);
}

.Smedia {
  font-size: 3em;
  display: flex;
  gap: 30px;
}

.Smedia a {
  text-decoration: none;
  color: var(--third-color);
  transform: translate(50%, 50%);
  transition: 1s;
}

.Smedia a:hover {
  /* transform: translate(25px, -5px); */
  transform: translate(25px, -5px);

}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(50%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#ani_text {
  display: inline-block;
  animation: slideIn 2s ease forwards;
}

#tech_stack {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px;
  margin-top: 20px;
}

.ts_ic {
  display: flex;
  gap: 20px;
  font-size: 3em;
}

@media screen and (max-width: 1080px) {
  #Profile {
    padding: 5px;
  }

  #ppic {
    height: 400px;
  }
}

@media screen and (min-width: 768px) and (max-width: 980px) {
  #ani_text {
    font-size: 3em;
  }

  #me_section p {
    width: 400px;
  }

  .ts_ic {
    display: flex;
    gap: 20px;
    font-size: 2em;
  }

}

@media screen and (min-width: 480px) and (max-width: 768px) {
  #Profile {
    margin-top: 65px; 
  }
  #ppic {
    height: 400px;
  }

  .Home_section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    height: auto;
    padding: 20px;
  }

  #ani_text {
    font-size: 3em;
  }

  #me_section p {
    width: auto;
  }
  #welcome-section {
    text-align: center;
  }
}

@media (max-width: 480px) {
  #Profile {
    margin-top: 65px; 
  }
  #ppic {
    height: 300px;
  }
  .Home_section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    height: auto;
    padding: 20px;
  }

  #ani_text {
    font-size: 2em;
  }

  #me_section p {
    width: auto;
  }
  #welcome-section {
    text-align: center;
  }
  .ts_ic {
    display: flex;
    gap: 20px;
    font-size: 1.2em;
  }
  .ts h2{
    font-size: 1em;
  }
  .Smedia {
    font-size: 2em;
    display: flex;
    gap: 30px;
  }
}