#projects{
    /* border-top:2px solid white; */
    background-color:white;
    color:black;
    text-align:center;
    display:flex;
    flex-direction:column;
    gap:20px;
    justify-content:center;
    align-items:center;
    margin:20px;
  }
  #proj_grid{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap:20px;
  }
 
  .proj_img img{
    width:100px;
  }
  
  .project_card{
    padding:20px;
    margin:10px;
    width:200px;
    border:1px solid var(--third-color);
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }