#projects{
    /* border-top:2px solid white; */
    background-color:white;
    color:black;
    text-align:center;
    display:flex;
    flex-direction:column;
    gap:20px;
    justify-content:center;
    align-items:center;
    margin:30px;
  }
  #projects h1{
    font-size: 2.5em;
    font-family: var(--main-font);
  }
  #proj_grid{
    padding:30px;
    display:grid;
    grid-template-columns: repeat(autofit,minmax(480px,1fr));
    gap:20px;
    border:1px solid white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin:30px;
  }
 
  .proj_img img{
    width:250px;
    border-radius: 10px;
  }
  
  .project_card{
    cursor: pointer;
    padding:20px;
    margin:10px;
    width:300px;
    border:1px solid var(--secondary-color);
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .proj_title h3{
    font-family: var(--main-font);
  }
  .proj_desc p{
    font-family: var(--secondary-font);
  }
  .proj_tech h3{
    font-family: var(--main-font);
  }
  .proj_tech span{
    font-weight: normal;
    font-family: var(--secondary-font);
  }
  @media screen and (min-width: 830px) {
    #proj_grid{
      grid-template-columns: repeat(2, 1fr);
    }
    
  }

  @media screen and (min-width: 1210px) {
    #proj_grid{
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media (max-width: 480px) {
    .project_card{
      width:250px;
    }
    #proj_grid{
      padding:20px;
      margin:20px;
    }
  }