@font-face{
    font-family:'Karla';
    src: url('D:\portfolio\public\Karla.ttf');
}
@font-face {
    font-family:'Inconsolata';
    src: url('D:\portfolio\public\Inconsolata.ttf');
}
@font-face {
    font-family:'PixelifySans';
    src: url('D:\portfolio\public\Pixelify.ttf');
}
:root{
    --primary-color: #ffffff;
    --secondary-color: #e8e8e8;
    --third-color:black;
    --main-font:'Karla', sans-serif;
    --secondary-font: 'Inconsolata', sans-serif;
    --third-font: 'PixelifySans', sans-serif;
}